:root {
  --mainColor: #9575CD;
  --mainFocusColor: #492685;
  --mainShadowColor: #C4B0E6;
  --secondColor: #BB6CC9;
  --secondFocusColor: #752383;
  --secondShadowColor: #DBAAE4;
  --errorColor: #FF9286;
  --textColor: #111;
  --textSecondColor: #888;
}
body {
  font-family: 'Roboto', sans-serif;
}
/* label color */
  .input-field label {
    color: var(--textSecondColor);
  }
  /* label focus color */
  .input-field input:not(.browser-default):focus:not([readonly]) + label {
    color: var(--mainFocusColor);
  }
  /* label underline focus color */
  .input-field input:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid var(--mainFocusColor);
    box-shadow: 0 1px 0 0 var(--mainShadowColor);
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid var(--mainColor);
    box-shadow: 0 1px 0 0 var(--mainShadowColor);
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid var(--errorColor);
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix {
    color: var(--textColor);
  }
  .input-field .prefix.active {
    color: var(--mainColor);
  }

  .auth {
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
  .auth .card .card-content {
    min-height: 200px;
  }
  .auth .card-action {
    text-align: right;
  }
  .auth .title {
    padding: 15px 0;
    color: var(--textColor);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid rgba(160,160,160,0.2);
  }