<div class="col s12 m7">
  <div>
    <ul class="tabs">
      <li class="tab col s4"><a class="active" href="#tumor1">Опухоль</a></li>
      <li class="tab col s4"><a href="#tumor2">Не опухоль</a></li>
      <li class="tab col s4"><a href="#tumor3">Другое</a></li>
    </ul>
  </div>
  <div id="tumor1" class="col s12">
    <select>
      <option value="" selected>Пусто</option>
      <optgroup label="Эпителий">
        <option value="1">Эпителий добро</option>
        <option value="2">Эпителий зло</option>
      </optgroup>
      <optgroup label="Мезенх">
        <option value="3">Мезенх добро</option>
        <option value="4">Мезенх зло</option>
      </optgroup>
      <optgroup label="Круглоклет.">
        <option value="5">Гистмо</option>
        <option value="6">Плазмо</option>
        <option value="7">Нанпоцит???</option>
        <option value="8">Меланома</option>
        <option value="9">ТВО</option>
        <option value="10">Лимфапа??</option>
      </optgroup>
        <option value="11">Нейроэндокрин.</option>
    </select>
  </div>
  <div id="tumor2" class="col s12">
    <select>
      <option value="" selected>Пусто</option>
      <option value="1">киста</option>
      <optgroup label="Воспаление">
        <option value="2">нейтроф.??</option>
        <option value="3">эоз.??</option>
        <option value="4">ЛПЛ</option>
        <option value="5">систан??</option>
        <option value="6">лимф. инф.</option>
      </optgroup>
    </select>
  </div>
  <div id="tumor3">
    <div class="input-field" style="margin-top: 0;">
      <input id="fullname" type="text" class="validate">
      <label for="icon_prefix">Описание</label>
    </div>
  </div>
</div>