<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html"}}

  <div class="row auth">
    <div class="col s12">
      <form class="card">
        <div class="title">Заполните все поля</div>
        <div class="row card-content">
          <div class="input-field col s12 m4">
            <input id="fullname" type="text" class="validate">
            <label for="icon_prefix">ФИО владельца</label>
          </div>
          <div class="input-field col s12 m4">
            <input id="animalName" type="text" class="validate">
            <label for="icon_prefix">Кличка</label>
          </div>
          <div class="input-field col s12 m4">
            <select>
              <option value="" disabled selected>Животное</option>
              <option value="1">Собака</option>
              <option value="2">Кошка</option>
              <option value="3">Хорёк</option>
              <option value="4">Кролик</option>
              <option value="5">Лошадь</option>
              <option value="6">Крыса</option>
              <option value="5">м.Свинка</option>
              <option value="6">Ёж</option>
            </select>
            <label>Materialize Select</label>
          </div>
        </div>
        <div class="card-action">
          <button class="btn waves-effect waves-light deep-purple`" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
  </div>

  {{template "footer.tmpl.html"}}
  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
</body>
</html>
