<html>
  {{template "header.tmpl.html"}}
<body style="background-color: #444;">

  <div class="row work">
    <div class="col s12">
      <form class="card">
        <div class="title">Заполните все поля</div>
        <div class="row card-content">
          {{template "names.tmpl.html"}}

          {{template "typeAnimal.tmpl.html"}}

          <div class="row-2 col s12">
            {{template "material.tmpl.html"}}

            {{template "location.tmpl.html"}}

            {{template "macroMicro.tmpl.html"}}
          </div>

          <div class="row-2 col s12">
            {{template "gista.tmpl.html"}}

            {{template "conclusion.tmpl.html"}}
          </div>

          {{template "comment.tmpl.html"}}

        </div>
        <div class="card-action" style="text-align: right;">
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
  </div>

  {{template "footer.tmpl.html"}}
  <script>
    $(document).ready(function() {
      $('select').material_select();
    });

    $(document).ready(function(){
      $('ul.tabs').tabs();
    });

    let counterEvent = 1;
    $('.scale').on('click', (e)=> {
      if (counterEvent%2) {
        e.target.closest('.scale').classList.toggle('active')
      }
      counterEvent++;
    })

    $('.tabs').on('click', (e)=> {
      if(e.target.closest('.tabs')) {
        $('#tumor1').find('li').eq(0).click();
        $('#tumor2').find('li').eq(0).click();
      }
    })

    $('#comment').trigger('autoresize');

    $('select').on('change', (e) => {
      e.target.closest('.select-wrapper').previousElementSibling.value = e.target.previousElementSibling.querySelector('.active span').innerHTML
      e.target.display = none;
    })
  </script>
</body>
</html>
