<div class="input-field col s12 m4">
  <select>
    <option value="" disabled selected>выберете...</option>
    <option value="1">кожа</option>
    <option value="2">п.у.</option>
    <option value="3">мягк. ткани</option>
    <option value="4">печень</option>
    <option value="5">почки</option>
    <option value="6">селезенка</option>
    <option value="7">кости</option>
    <option value="8">синовия??</option>              
    <option value="9">выпеты??</option>
    <option value="10">легкие</option>
    <option value="11">п-ж ж-за</option>
    <option value="12">предст. ж-за</option>
    <option value="13">семенники??</option>
    <option value="14">уши</option>
    <option value="15">влагалище</option>
    <option value="16">средоимение??</option>
    <option value="17">мозг</option>
    <option value="18">желчь</option>
    <option value="19">мол. ж-за</option>
    <option value="20">язык</option>
    <option value="21">рот. п-ть</option>
    <option value="22">пол. член</option>
    <option value="23">яичники</option>
    <option value="24">глаз</option>
    <option value="25">к-к</option>
    <option value="26">желудок</option>
    <option value="27">трахея</option>
    <option value="28">гортань</option>
    <option value="29">сердце</option>
    <option value="30">моча</option>
    <option value="31">моч. пузырь</option>
    <option value="32">кал</option>
  </select>
  <label>Локализация</label>
  <input type="text" value="" placeholder="или впишите" id="location">
</div>