<div class="input-field col s12 m4">
  <select>
    <option value="" disabled selected>выберете...</option>
    <option value="1">Собака</option>
    <option value="2">Кошка</option>
    <option value="3">Хорёк</option>
    <option value="4">Кролик</option>
    <option value="5">Лошадь</option>
    <option value="6">Крыса</option>
    <option value="7">м.Свинка</option>
    <option value="8">Ёж</option>
  </select>
  <label>Животное</label>
  <input type="text" value="" placeholder="или впишите" id="typeAnimal">
</div>